#titleForCart{
    padding-top: 35px;
    font-size: 50px;
    text-align: center;
}
.centering{
    text-align: center;
}
#flexingInfo{
    border: #FB6F92 solid 1px;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 25px;
    padding-top:15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.cartButton{
    padding: 10px 15px;
    color: #FB6F92;
    background-color: #F2EBE2;
    border: none;
    border-radius: 15px;
}

.cartButton:hover{
    color: #FFC2D1;
}

.clearButts{
    padding: 25px 40px;
    color: #FB6F92;
    background-color: #F2EBE2;
    border: none;
    border-radius: 15px;
    font-size: 15px;

}

.clearButts:hover{
    color: #FFC2D1;
}

.centeringButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px
}
#money{
    text-align: center;
    font-weight: bold;
}